<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=h1, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="css/style.css">
    <title>Home Page</title>
</head>

<body>
    {{>navBar}}
    <div class="main-container space-x-12">
        <div class="left-side">
            <span>Want some soul relaxing music</span>
            <p class="py-4">Serene is your perfect partner for some relaxing and calm musics. We specially serves halal music like naaths, quran verses etc..</p>
            <button><a href="/listen">Start listening</a></button>
        </div>
        <div class="right-side">
            <img src="/images/cat.png" alt="" width="400px">
        </div>
    </div>
</body>

</html>