<nav class="nav-bar">
        <figure class="logo-container">
            <img src="images/musicLogo.png" alt="" width="40px">
            <span class="ml-4">Serene Music</span>
        </figure>
        <div>
            <ul class="nav-ul-items">
                <li class="ml-4"><a href="/">Home</a></li>
                <li class="ml-4"><a href="/about">About</a></li>
                <li class="ml-4"><a href="/listen">Listen</a></li>
            </ul>
        </div>
    </nav>